doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=title
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/sudokuduel.css')
  body
    header
      nav.light-green
        .nav-wrapper
          a.brand-logo.center (not) tic tac toe
      br
      br
      br
    main
      .announcement
          h4 Sudoku duel coming soon&trade;
          //h3#message=currentPlayer + '\'s turn'
          img(src='/img/spinner.png', width='50px').rotating
      .lobby
        .chatbox#chat.hide
          ul.collection.chat#activities
          input(type='text', placeholder='set your username')#input
        button.btn-large#chatButton hide/show chat
      - for (var i = 0; i < 5; i++) {
        br
      - }
      .game
        .row
          .col.m2.s12
            button.btn-large#createGame create game
          .input-field.col.m9.s9
            input(type='text', placeholder='create game to generate link', readonly)#gameLink
          .col.m1.s3
            button.btn-floating.btn-large.disabled#copyLink
              i.fa.fa-files-o
        .row
          .col.m10.s12
            input(type='text', placeholder='enter game ID')#gameId
          .col.m2.s12
            button.btn-large#joinGame join game
        .row.valign-wrapper.hide#gameBanner
          h4.col.s5.playerName#player1
          h2.col.s2 VS
          h4.col.s5.playerName#player2 waiting for opponent...
        .row
          .board.centered.hide
            - for (var i = 0; i < 9; i++) {
              div(id='row'+(i+1)).cellRow
                - for (var j = 0; j < 9; j++) {
                  div(id='cell'+(j+i*9+1)).cell
                - }
            - }
    script(src='/js/jquery.js')
    script(src='/js/materialize.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/sudokuduel.js')