extends ../layout

block intro
  .container
    .row
      h2 Trigg Eredbot is a not-so-friendly messenger bot who might or might not make you laugh.
      h3 (but he responds fast!)
    .divide60
    .row
      h3
        a(href='https://www.facebook.com/triggeredbot/') Try it out now