extends layout

block intro
  .row
    h2 What is this?
  .divide30
  .row  
    h4 A site where I put random stuff I work on when I'm bored.
  .divide30
  .row
    h5 I tend to be very good at starting projects but not at finishing them.
    h5 Please either be (very) patient or let me know if you'd like to see something complete.