extends layout

block intro
  .row
    h2 Meet the team:
    .divide60
  .row
    .col-md-4.col-md-offset-2
      h2 Jiaping
      p some dude
      .text-center
        a(href="#") check out his projects
    .col-md-4
      h2 Luke
      p another dude
      .text-center
        a(href="#") here are his
  .row
    .divide30
    h4 descriptive descriptions coming soon...
