extends layout

block intro
  h1 Oh shit. Something went wrong.
  h4 (you dun goofed)
block content
  section.intro-text
    .container
      .row
        .col-md-12.col-sm-12.text-center
          h2= message
          h3= error.status
          if error.stack
            pre #{error.stack}
          else
            p.lead :'(
