extends layout

block intro
  .container
    h1.animated.fadeInDown Welcome to Gisarme
    h4.animated.fadeIn please stay with us as we finish updating the contents
    h5.animated.fadeIn (However, gnoter is fixed now. 
      a(href='/gnoter') Check it out!
      | )
block content
  section.intro-text
    .container
      .row
        .col-md-12.col-sm-12.text-center
          h2.wow.animated.fadeInDown
            span.colored-text WOW! 
            | This actually works!
          p.lead.wow.animated.fadeIn Gnoter has been updated and the authentication system should be up and running.
          .divide30
          a(href="#").btn.border-theme.btn-lg Oi
          a(href="#").btn.border-black.btn-lg Io
