extends layout

block intro
  .text-center
    h1(style="color: white; line-height: 100vh; font-size: 4vw;") Hi
block content
  section.intro-text
    .container
      .row
        .col-md-12.col-sm-12.text-center
          h2.wow.animated.fadeInDown
            span.colored-text WOW! 
            | This actually works!
          p.lead.animated.fadeIn Can you believe it?
          .divide30
          a(href="#").btn.border-theme.btn-lg Oi
          a(href="#").btn.border-black.btn-lg Io
