extends layout

block intro
  .container
    h1.animated.fadeInDown Welcome to Gisarme
    h4.animated.fadeIn please stay with us as we finish updating the contents
    h5.animated.fadeIn 
      a(href="/gnoter") Gnoter
      |  , 
      a(href="/thegunnapp") TheGunnApp
      |  , and 
      a(href="/triggeredbot") TriggeredBot
      |  should all be up and running. Check them out!
block content
  section.intro-text
    .container
      .row
        .col-md-12.col-sm-12.text-center
          h2.wow.animated.fadeInDown
            span.colored-text WOW! 
            | This actually works!
          p.lead.wow.animated.fadeIn Gnoter, TheGunnApp and TriggeredBot have all been updated. An (useless) authentication system should also be up and running. Please hang tight as I add everything else.
          .divide30
          a(href="#").btn.border-theme.btn-lg Oi
          a(href="#").btn.border-black.btn-lg Io
