doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=title
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/flexslider.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    div(role="navigation").navbar.navbar-inverse.navbar-fixed-top.transparent-header
      .container
        .navbar-header
          button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="/").navbar-brand
            h5(style="color: white;")#logo.animated.zoomInLeft GISARME
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/") Home
            li
              a(href="/about") About
            li.dropdown
              a(href="#", data-toggle="dropdown").dropdown-toggle Apps 
                i.fa.fa-angle-down
              ul(role="menu", aria-labelledby="dropdownMenu").dropdown-menu.dark-dropdown
                li
                  a(href="/gnoter") oops
            li
              a(href="/contact") Contact Us
            li.dropdown
              a(href="#", data-toggle="dropdown").dropdown-toggle
                i.fa.fa-lock
                |  Sign In
              .dropdown-menu.dropdown-menu-right.dropdown-login-box.animated.hinge
                form(role="form")
                  h4 Advanced shit do not touch
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.fa.fa-user
                      input(type="text", placeholder="Username").form-control
                    br
                    .input-group
                      span.input-group-addon
                        i.fa.fa-lock
                      input(type="password", placeholder="Password").form-control
                    .checkbox.pull-left
                      label
                        input(type="checkbox")
                        | Remember me
  div(style="height: 100vh; background-color: #424242;")
    .container
      block intro
  block content
  footer#footer
    .container
      .row
        .col-md-12.margin30
          .footer-col
            h3 nothing to see here
            p Not kidding there really is nothing to see here
      .row
        .col-md-12.text-center
          .footer-btm
            span &copy; #{new Date().getFullYear()} Jiaping Zeng 
            |  | 
            a(href='https://paypal.me/jiapingzeng') Feed me
  //- footer#footer
  //-   .container
  //-     .row
  //-       .col-md-3.col-sm-6.margin30
  //-         .footer-col
  //-           h3 About Gisarme
  //-             p Hi
  //-       .col-md-3.col-sm-6.margin30
  //-         .footer-col
  //-           h3 Contact
  //-             ul.list-unstyled.contact
  //-               li Hi
  //-               li Hi again
  //-       .col-md-3.col-sm-6.margin30
  //-         .footer-col
  //-           h3 Latest news
  //-             ul.list-inline.f2-work
  //-               li Jk this doesn\'t work
  //-       .col-md-3.col-sm-6.margin30
  //-         .footer-col
  //-           h3 Subscribe
  //-           p Subscribe to be notified when stuff comes up
  //-           form(role="form").subscribe-form
  //-             .input-group
  //-               input(type="text", placeholder="Don\'t do dis", disabled).form-control
  //-               span.input-group-btn
  //-                 button(type="submit", disabled).btn.btn-theme-dark.btn-lg Ok
  //-     .row
  //-       .col-md-12.text-center
  //-         .footer-btm
  //-           span &copy; #{new Date().getFullYear()} Jiaping Zeng
  //-           a(href='https://paypal.me/jiapingzeng') Feed me
  script(src='js/jquery.js')
  script(src='js/bootstrap.js')
  script(src='js/wow.js')
  script(src='js/flexslider.js')
  script(src='js/magnific-popup.js')
  script(src='js/stellar.js')
  script(src='js/sticky.js')
  script(src='js/custom.js')
  block scripts
