.intro {
    background-color: #424242;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, h2, h3, h4, h5, h6, p, span, small, a, label {
        color: white;
        text-align: center;
    }
    a {
        text-decoration: underline;
    }
}

#navForm, #navMenu {
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

@media(max-width:767px) {
    .hinge {
        display: none !important;
    }
}