.intro {
    background-color: #424242;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, h2, h3, h4, h6, h6 {
        color: white;
        text-align: center;
    }
}

@media(max-width:767px) {
    .hinge {
        display: none !important;
    }
}