body {
    text-align: center;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 75%;

    .announcement {
        margin-bottom: 50px;

        h1 {
            font-size: 3em;
        }
    }

    .game {
        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 1.5em;
        }
    }

    .gameContainer {
        width: 100%;
        max-width: 540px;
    }

    .board {
        position: relative;
    }

    .cell {
        position: relative;
        float: left;
        width: 10%;
        text-align: center;
        border: 1px solid black;
        margin-bottom: 0.6%;
        margin-right: 0.6%;
        border-radius: 10%;

        &:hover {
            background-color: rgba(53, 207, 255, 0.3);
        }

        &:nth-of-type(3n) {
            margin-right: 1.7%;
        }
    }

    .cellRow:nth-of-type(3n) .cell {
        margin-bottom: 1.7%;
    }

    .selected {
        background-color: rgba(6, 255, 19, 0.4);
        //background-color: rgba(255, 216, 0, 0.4);
    }

    .correct {
        background-color: rgba(6, 255, 19, 0.4);
    }

    .incorrect {
        background-color: rgba(255, 0, 0, 0.4) !important;
    }

    .number {
        position: relative;
        float: left;
        width: 10%;
        text-align: center;
        border: 1px solid black;
        border-radius: 100%;
        margin-right: 0.9%;

        &:hover {
            //color: white;
            background-color: rgba(53, 207, 255, 0.3);
        }
    }

    .chat {
        height: 300px;
        overflow: auto;
    }

    .controls {
        margin-top: 50px;
    }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform-origin: 50% 55.2%;
    transform-origin: 50% 66.7%;
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 55.2%;
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform-origin: 50% 55.2%;
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 55.2%;
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 0.5s linear infinite;
  -moz-animation: rotating 0.5s linear infinite;
  -ms-animation: rotating 0.5 linear infinite;
  -o-animation: rotating 0.5 linear infinite;
  animation: rotating 0.5s linear infinite;
}