body {
    text-align: center;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 75%;

    .announcement {
        margin-bottom: 50px;
        h1 {
            font-size: 3em;
        }
    }

    board {
        background-color: blue;
    }

    .boardRow {
        background-color: pink;
    }

    .cell {
        position: relative;
        float: left;
        width: 10%;
        text-align: center;
        border: 1px solid black;
        margin-bottom: 0.6%;
        margin-right: 0.6%;
    }

    .cell:nth-of-type(3n) {
        margin-right: 1.7%;
    }

    .cellRow:nth-of-type(3n) .cell {
        margin-bottom: 1.7%;
    }

    /*
    .boardRow {
        height: 57px;
    }

    .boardRow:nth-child(3n + 1) {
        height: 62px;

        .cell {
            margin-top: 6px;
        }
    }

    .cell {
        position: relative;
        float: left;
        width: 8%;
        max-width: 54px;
        margin-top: 1px;
        margin-left: 1px;
        border: 1px solid black;
        line-height: 54px;
        text-align: center;
        font-size: 35px;
    }

    .cell:nth-child(3n + 1) {
        margin-left: 6px;
    }
    */

    /*
    .cell {
        width: 33.3%;
        height: 90px;
        border: 6px solid #7a7979;
        font-size: 50px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .cell:hover {
        background-color: #a4f91d;
    }

    .cell:first-of-type {
        border-left-color: transparent;
        border-top-color: transparent;
    }

    .cell:nth-of-type(2) {
        border-top-color: transparent;
    }

    .cell:nth-of-type(3) {
        border-right-color: transparent;
        border-top-color: transparent;
    }

    tr:nth-of-type(3) .cell {
        border-bottom-color: transparent;
    }
    */
    
    .controls {
        margin-top: 50px;
    }
}

.chat {
    height: 300px;
    overflow: auto;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform-origin: 50% 55.2%;
    transform-origin: 50% 66.7%;
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 55.2%;
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform-origin: 50% 55.2%;
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 55.2%;
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 0.5s linear infinite;
  -moz-animation: rotating 0.5s linear infinite;
  -ms-animation: rotating 0.5 linear infinite;
  -o-animation: rotating 0.5 linear infinite;
  animation: rotating 0.5s linear infinite;
}